SUPABASE_URL=https://omnshwtbzsxiqpdtonbo.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9tbnNod3RienN4aXFwZHRvbmJvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjgxMzMwOTUsImV4cCI6MjA4MzcwOTA5NX0.AaJk6Io5kYXmW3li547QgitskU8UKN93KRx04AD6nlQ
GEE_KEY_FILE=/app/gee-service-account-key.json
NASA_FIRMS_MAP_KEY=9e68ad6a550672ee21d88396f8c74e99
ARCGIS_HOTSPOT_SERVICE_URL=https://geoportal.menlhk.go.id/arcgis/rest/services/Hosted/hotspot/FeatureServer/0/query
VITE_SUPABASE_URL=https://omnshwtbzsxiqpdtonbo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9tbnNod3RienN4aXFwZHRvbmJvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjgxMzMwOTUsImV4cCI6MjA4MzcwOTA5NX0.AaJk6Io5kYXmW3li547QgitskU8UKN93KRx04AD6nlQ
